@charset "UTF-8";
/* 전체 먹는 CSS */
html {
  font-size: 10px;
}

body {
  width: 100%;
  min-width: 1902px;
  min-height: 1080px;
}

.menu {
  position: relative;
  float: left;
  width: 6.5%;
  height: 100vh;
  min-height: 1080px;
  background: #222527;
}

.menu__logo {
  padding: 2rem 3rem 3rem 1.5rem;
}

.menu__logo a {
  display: block;
  width: 100%;
  height: 100%;
}

.menu__logo a img {
  width: 100%;
}

.menu__date {
  padding: 0.5rem 0;
  background: #303335;
}

.menu__date span {
  display: block;
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.3;
}

.menu__nav {
  width: 100%;
  margin-top: 2vh;
}

.menu__nav ul li {
  position: relative;
  width: 100%;
  height: 10vh;
  padding: 2.2vh 0;
  margin-bottom: 2.2vh;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu__nav ul li a {
  display: block;
  padding-top: 3.2rem;
  color: #7A7D80;
  font-weight: 500;
  font-size: 1.7rem;
  letter-spacing: -1px;
}

.menu__nav ul li:first-child a {
  background: url(../images/home.png) center top no-repeat;
  background-size: 20%;
}

.menu__nav ul li:nth-child(2) a {
  background: url(../images/click.png) center top no-repeat;
  background-size: 25%;
}

.menu__nav ul li:nth-child(3) a {
  background: url(../images/smart.png) center top no-repeat;
  background-size: 25%;
}

.menu__nav ul li.on {
  background: #181a1b;
}

.menu__nav ul li.on:before {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 4px;
  height: 100%;
  background: #006DFF;
}

.menu__nav ul li.on a {
  color: #ffffff;
}

.menu__nav ul li.on:first-child a {
  background: url(../images/home_on.png) center top no-repeat;
  background-size: 20%;
}

.menu__nav ul li.on:nth-child(2) a {
  background: url(../images/click_on.png) center top no-repeat;
  background-size: 25%;
}

.menu__nav ul li.on:nth-child(3) a {
  background: url(../images/smart_on.png) center top no-repeat;
  background-size: 25%;
}

.menu__nav ul li:hover {
  background: #181a1b;
}

.menu__nav ul li:hover:before {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 4px;
  height: 100%;
  background: #006DFF;
}

.menu__nav ul li:hover a {
  color: #ffffff;
}

.menu__copy {
  position: absolute;
  bottom: 0;
  padding: 0.5rem;
  text-align: center;
  letter-spacing: -1px;
}

.menu__copy p {
  font-size: 1.2rem;
  color: #4E5153;
}

.right {
  float: left;
  width: 93.5%;
}

.right__header {
  display: block;
  position: relative;
  width: 100%;
  height: 5.5vh;
  padding: 0 2rem;
  line-height: 5.5vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #303335;
}

.right__header .prTitle {
  font-weight: 700;
  font-size: 1.8rem;
  color: #75797D;
}

.right__header .prTitle:after {
  content: '｜';
}

.right__header .pageTitle {
  font-weight: 700;
  font-size: 1.8rem;
  color: #ffffff;
}

.right__header .topBtns {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  width: 6%;
}

.right__header .topBtns li {
  float: left;
  width: calc(50% - 1px);
  height: 100%;
  border-left: 1px solid #404345;
}

.right__header .topBtns li a {
  display: block;
  width: 100%;
  height: 100%;
}

.right__header .topBtns li a:hover {
  background-color: #232729;
}

.right__header .topBtns li .setting {
  background: url(../images/setting.png) center 50% no-repeat;
  background-size: 40%;
}

.right__header .topBtns li .logout {
  background: url(../images/logout.png) center 50% no-repeat;
  background-size: 40%;
}

.right__container {
  background: #0D0E0E;
  width: 100%;
  height: 94.5vh;
  min-height: calc(1080px - 5.5vh);
  overflow: hidden;
}

@media screen and (min-width: 1921px) {
  html {
    font-size: 20px;
  }
  body {
    background: #cccccc;
  }
  .menu__logo {
    padding: 2rem 3rem 2rem 1.5rem;
  }
  .menu__logo a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .menu__logo a img {
    width: 100%;
    min-width: 80px;
  }
}
/*# sourceMappingURL=layout.css.map */