@charset 'UTF-8';
$wallmonitor:3840px;
$desktop:1920px;
$primaryColor:#006dff;
$videoColor:#c500ff;
$polColor:#006dff;
$fireColor:#fd4357;
$jaenanColor:#ff832b;
$supportColor:#39d500;
$btnPrimary:#6599f4;
$btnCancle:#9fa6ad;


/* 전체 먹는 CSS */
html {
  font-size:10px;
}
body {
  width:100%;
  height:100%;
  min-width:1902px;
  min-height:1080px !important;
  overflow-y:hidden;
  overflow-x:auto;
}
.menu {
  position:relative;
  float:left;
  width:6.5%;
  height:100vh;
  min-height:1080px;
  background:#222527;
  &__logo {
    padding:2rem 3rem 3rem 1.5rem;
    a {
      display:block;
      width:100%;
      height:100%;
      img {
        width:100%;
      }
    }
  }
  &__date {
    padding:0.5rem 0;
    background:#303335;
    span {
      display:block;
      font-size:1.3rem;
      text-align:center;
      line-height:1.3;
    }
  }
  &__nav {
    width:100%;
    margin-top:2vh;
    ul {
      li {
        position:relative;
        width:100%;
        height:10vh;
        padding:2.2vh 0;
        margin-bottom:2.2vh;
        text-align:center;
        box-sizing:border-box;
        a {
          display:block;
          padding-top:3.2rem;
          color:#7a7d80;
          font-weight:500;
          font-size:1.7rem;
          letter-spacing:-1px;
        }
        &:first-child a {
          background:url(../images/home.png) center top no-repeat;
          background-size:20%;
        }
        &:nth-child(2) a {
          background:url(../images/click.png) center top no-repeat;
          background-size:25%;
        }
        &:nth-child(3) a {
          background:url(../images/smart.png) center top no-repeat;
          background-size:25%;
        }
        &.on {
          background:#181a1b;
          &:before {
            position:absolute;
            left:0;
            top:0;
            content:'';
            width:4px;
            height:100%;
            background:#006dff;
          }
          a {
            color:#ffffff;
          }
          &:first-child a {
            background:url(../images/home_on.png) center top no-repeat;
            background-size:20%;
          }
          &:nth-child(2) a {
            background:url(../images/click_on.png) center top no-repeat;
            background-size:25%;
          }
          &:nth-child(3) a {
            background:url(../images/smart_on.png) center top no-repeat;
            background-size:25%;
          }
        }
        &:hover {
          background:#181a1b;
          &:before {
            position:absolute;
            left:0;
            top:0;
            content:'';
            width:4px;
            height:100%;
            background:#006dff;
          }
          a {
            color:#ffffff;
          }
        }
      }
    }
  }
  &__copy {
    position:absolute;
    bottom:0;
    padding:0.5rem;
    text-align:center;
    letter-spacing:-1px;
    p {
      font-size:1.2rem;
      color:#4e5153;
    }
  }
}

.right {
  float:left;
  width:93.5%;
  &__header {
    display:block;
    position:relative;
    width:100%;
    height:5.5vh;
    padding:0 2rem;
    line-height:5.5vh;
    box-sizing:border-box;
    background:#303335;
    .prTitle {
      font-weight:700;
      font-size:1.8rem;
      color:#75797d;
      &:after {
        content:'｜';
      }
    }
    .pageTitle {
      font-weight:700;
      font-size:1.8rem;
      color:#ffffff;
    }
    .topBtns {
      display:inline-block;
      position:absolute;
      right:0;
      top:0;
      width:6%;
      li {
        float:left;
        width:calc(50% - 1px);
        height:100%;
        border-left:1px solid #404345;
        a {
          display:block;
          width:100%;
          height:100%;
          &:hover {
            background-color:#232729;
          }
        }
        .setting {
          background:url(../images/setting.png) center 50% no-repeat;
          background-size:40%;
        }
        .logout {
          background:url(../images/logout.png) center 50% no-repeat;
          background-size:40%;
        }
      }
    }
  }
  &__container {
    width:100%;
    height:94.5vh;
    min-height:calc(1080px - 5.5vh);
    overflow:hidden;
  }
  &__container.settings {
    background:#eef2f5;
    padding:3rem;
    box-sizing:border-box;
    overflow-y:scroll;
  }
}


// 모듈화 엘리먼트들 

.bottomPanel {
  display:flex;
  align-items:flex-start;
  position:absolute;
  bottom:0;
  width:93.5%;
  padding:0.5rem;
  background:rgba($color:#1c2026, $alpha:0.9);
  box-sizing:border-box;
  .camera {
    position:relative;
    flex-basis:20%;
    &__name {
      position:absolute;
      left:0;
      bottom:0;
      display:block;
      width:100%;
      padding:0.5rem 1rem;
      text-align:center;
      color:#ffffff;
      font-size:1.4rem;
      background:rgba($color:#0d0e0e, $alpha:0.5);
      overflow:hidden;
      text-overflow:ellipsis;
      white-space:nowrap;
      box-sizing:border-box;
    }
    img {
      width:100%;
    }
  }
  .camera+.camera {
    margin-left:0.5rem;
  }
  .panelbtn {
    display:block;
    position:absolute;
    top:-2rem;
    left:50%;
    width:11rem;
    height:2rem;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    z-index:200;
    background-color:rgba($color:#0d0e0e, $alpha:0.5);
    -webkit-transform:translate(-50%, 0%);
    transform:translate(-50%, 0%);
    &:hover {
      background-color:rgba($color:#0d0e0e, $alpha:0.8);
    }
    &:before {
      position:absolute;
      width:100%;
      height:100%;
      content:'';
      background:url(../images/arrow_down.png) center 50% no-repeat;
      background-size:1.2rem;
      transform:rotate(0deg);
    }
    &.open:before {
      transform:rotate(-180deg);
    }
  }
}
.coverLayer {
  min-width:25rem;
  z-index:999;
  background:rgba($color:#0d0e0e, $alpha:0.6);
  &__title {
    position:relative;
    padding:0.8rem;
    background:rgba($color:#0d0e0e, $alpha:0.6);
    h2 {
      font-size:1.7rem;
      color:#d5d5d5;
    }
    .close {
      display:block;
      position:absolute;
      top:1.5rem;
      right:1rem;
      width:1rem;
      height:1rem;
      background:url(../images/btn_close.png) center top no-repeat;
      background-size:contain;
    }
  }
  &__content {
    padding:0.8rem;
  }
  &__content.weather {
    text-align:center;
  }
  &__content.alarm {
    dl {
      position:relative;
      padding-left:4rem;
      padding-top:0.8rem;
      padding-bottom:0.8rem;
      line-height:1.3;
      dt {
        a {
          font-size:1.4rem;
          color:#d5d5d5;
          font-weight:500;
        }
      }
      dd {
        font-size:0.9rem;
        color:#d5d5d5;
      }
      &:before {
        position:absolute;
        left:0;
        top:50%;
        transform:translate(0%, -50%);
        width:2.8rem;
        height:2.8rem;
        color:#ffffff;
        text-align:center;
        line-height:2.8rem;
        border-radius:0.4rem;
        font-size:1rem;
        font-weight:500;
      }
      &.video:before {
        content:'영상';
        background:$videoColor;
      }
      &.police:before {
        content:'경찰';
        background:$polColor;
      }
      &.fire:before {
        content:'소방';
        background:$fireColor;
      }
      &.jaenan:before {
        content:'재난';
        background:$jaenanColor;
      }
      &.support:before {
        content:'사회';
        background:$supportColor;
      }
    }
    dl+dl {
      border-top:1px solid rgba($color:#6d787a, $alpha:0.3);
    }
  }
  &__content.tbllist {
    color:#ffffff;
    table {
      th,td {
        padding:0.5rem;
        font-size:1.3rem;
        color:#d5d5d5;
        text-align:left;
        a {
          color:#d5d5d5;
        }
      }
      th {
        background:rgba($color:#659af5, $alpha:0.1);
      }
      td {
        border-bottom:1px solid rgba($color:#707070, $alpha:0.5);
      }
      tbody tr:hover td {
        background:$primaryColor;
      }
    }
  }
}

.eventBox {
  width:54rem;
  background:#ff4458;
  box-sizing:border-box;
  &__title {
    padding:0 1.5rem;
    line-height:5rem;
    border-bottom:0.1rem solid rgba($color:#ffffff, $alpha:0.3);
    h2 {
      font-size:2.5rem;
      font-weight:700;
      color:#ffffff;
      width:100%;
      overflow:hidden;
      text-overflow:ellipsis;
      white-space:nowrap;
      box-sizing:border-box;
    }
  }
  &__content {
    padding:1.5rem;
    color:#ffffff;
    dl {
      position:relative;
      padding-left:8rem;
      line-height:1.2;
      dt {
        font-size:2.5rem;
        color:#ffffff;
        font-weight:500;
        padding-left:3rem;
        background:url(../images/clock.png) left 50% no-repeat;
        background-size:2rem;
      }
      dd {
        font-size:2.5rem;
        color:#ffffff;
        font-weight:normal;
        padding-left:3rem;
        background:url(../images/location.png) left 50% no-repeat;
        background-size:1.9rem;
      }
      &:before {
        position:absolute;
        left:0;
        top:50%;
        transform:translate(0%, -50%);
        width:2.8rem;
        height:2.8rem;
        color:#ffffff;
        text-align:center;
        line-height:2.8rem;
        border-radius:0.4rem;
        font-size:1rem;
        font-weight:500;
      }
      &:before {
        position:absolute;
        left:0;
        top:50%;
        transform:translate(0%, -50%);
        width:6.5rem;
        height:6.5rem;
        color:#ff4458;
        text-align:center;
        line-height:6.5rem;
        border-radius:0.4rem;
        font-size:2.3rem;
        font-weight:500;
        background:#ffffff;
      }
      &.video:before {
        content:'영상';
      }
      &.police:before {
        content:'경찰';
      }
      &.fire:before {
        content:'소방';
      }
      &.jaenan:before {
        content:'재난';
      }
      &.support:before {
        content:'사회';
      }
    }
  }
}

.adminPage {
  &__title {
    margin-bottom:1rem;
    font-size:2.5rem;
    color:#595f65;
    font-weight:700;
  }
}
.searchBox {
  width:100%;
  padding:2rem 3rem;
  margin-bottom:1.5rem;
  background:#ffffff;
  box-sizing:border-box;
  &__item {
    display:inline-block;
    input[type='checkbox']+label {
      display:inline-block;
      height:22px;
      line-height:21px;
      padding:0 0 0 25px;
      font-size:14px;
      background:url(../images/inp_checkbox.gif) no-repeat left center;
      cursor:pointer;
    }
    input[type='checkbox']:checked+label {
      background:url(../images/inp_checkbox_on.gif) no-repeat left center;
    }
    input[type='radio']+label {
      display:inline-block;
      height:22px;
      line-height:21px;
      padding:0 0 0 25px;
      font-size:14px;
      background:url(../images/inp_radiobox.gif) no-repeat left center;
      cursor:pointer;
    }
    input[type='radio']:checked+label {
      background:url(../images/inp_radiobox_on.gif) no-repeat left center;
    }
    input[type='text'],input[type='password'] {
      height:3.5rem;
      line-height:3.5rem;
      padding:0 1rem;
      font-size:1.4rem;
      color:#333333;
      box-sizing:border-box;
    }
    input[type='text'] {
      min-width:15rem;
      width:auto;
    }
    select {
      min-width:15rem;
      height:3.5rem;
      margin:0;
      padding:0.5rem 2.5rem 0.6rem 1rem;
      border:1px solid#d0d0d0;
      background:url(../images/select_bg.gif) 100% 50% no-repeat;
      -webkit-appearance:none;
      -moz-appearance:none;
      -o-appearance:none;
      appearance:none;
      word-wrap:break-word;
      z-index:10;
      font-size:1.5rem;
      color:#8e8e8e;
    }
    select::-ms-expand {
      display:none;
    } /* ie 기본 화살표 없앰 */
    .title {
      float:left;
      margin-right:1.5rem;
      line-height:3.5rem;
      font-size:1.6rem;
      color:#7d838a;
      font-weight:500;
    }
    .search {
      display:inline-block;
      min-width:8rem;
      height:3.5rem;
      line-height:3.5rem;
      font-size:1.7rem;
      background:$primaryColor;
      color:#ffffff;
      text-align:center;
      border-radius:0.4rem;
      vertical-align:middle;
    }
  }
  &__item+.searchBox__item {
    margin-left:4.5rem;
  }
}


.listType {
  background:#ffffff;
  padding:1.5rem;
  /* 테이블- 리스트형 */
  .basic_tbl_list {
    border-bottom:0.1rem solid #d6dade;
    th {
      border-bottom:0.1rem solid #d6dade;
      background:#ffffff;
      font-weight:600;
    }
    td {
      input {
        vertical-align:middle;
      }
    }
    tr {
      &:nth-child(odd) td {
        background:rgba($color:#f5f5f5, $alpha:0.5);
      }
      &:hover td {
        background:#f4f5f6;
        color:#717476;
        cursor:pointer;
      }
    }
  }
}

.btnArea {
  text-align:center;
  font-size: 1.4rem;
  a[class^='btn__'] {
    display:inline-block;
    padding:0.5rem 1.5rem;
    color:#ffffff;
    border-radius:0.4rem;
  }
  a[class^='btn__']+a[class^='btn__'] {
    margin-left:0.8rem;
  }
  .btn {
    font-size: 1.4rem;
    &__primary {
      background:$btnPrimary;
    }
    &__primary2 {
      background:$primaryColor;
    }
    &__cancle {
      background:$btnCancle;
    }
  }
  .small {
    font-size:1.3rem;
  }
}
.pageinfo {
  margin-bottom:1rem;
  color:#8b8b8b;
  ul {
    float:left;
    li {
      display:inline-block;
      font-size:1.4rem;
    }
    li:first-child:after {
      content:'│';
      padding:0 0.5rem;
      opacity:0.5;
    }
  }
}
.btnArea.pageinfo {
  text-align:right;
}


.pageNation {
  margin-top:1.5rem;
  text-align:center;
  ul {
    display:inline-block;
    overflow:hidden;
    li {
      float:left;
      line-height:3rem;
      a {
        display:inline-block;
        width:3rem;
        height:3rem;
        margin-left:0.2rem;
        font-size:1.2rem;
        text-align:center;
        line-height:3rem;
        font-weight:normal;
        color:#919191;
        &:hover {
          color:$btnPrimary;
        }
      }
      .first,.prev,.next,.end {
        border:none;
        width:1.5rem;
        height:1.5rem;
        vertical-align:middle;
      }
      .first {
        background:url(../images/first.png) center top no-repeat;
        background-size:contain;
      }
      .next {
        background:url(../images/next.png) center top no-repeat;
        background-size:contain;
        margin-left: 1rem;
      }
      .prev {
        background:url(../images/prev.png) center top no-repeat;
        background-size:contain;
        margin-right: 1rem;
      }
      .end {
        background:url(../images/last.png) center top no-repeat;
        background-size:contain;
      }
    }
    .current {
      border-radius:0.4rem;
      background:$btnPrimary;
      color:#ffffff;
    }
  }
}


.popupWrap {
  position: relative;
  width: 100%;
  height: 100vh;
  .layerpopup {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-52%);
    width:60rem;
    z-index:500;
    background:#ffffff;
    &__top {
      position:relative;
      width:100%;
      height:4rem;
      padding: 0 1rem;
      line-height:3.9rem;
      background:#646C72;
      box-sizing: border-box;
      h4 {
        text-align:left;
        font-size:1.6rem;
        color:#ffffff;
      }
      .popup__close {
        display:block;
        position:absolute;
        width:1.2rem;
        height:1.2rem;
        right:1.5rem;
        top:1.4rem;
        text-indent:-999em;
        background:url(../images/btn_close.png) center top no-repeat;
        background-size:contain;
        &:after {
          display:block;
          width:1.2rem;
          height:1.2rem;
          content:'';
        }
      }
    }
    &__content {
      padding:2rem;
    }
    .item {
      margin-bottom:2rem;
    }
    .input__form {
      .form_tit {
        display:block;
        margin-top:1rem;
        margin-bottom:0.5rem;
        font-size: 1.4rem;
        color: #7D838A;
        font-weight: 500;
      }
      .bullet:before {
        content:'*';
        display:inline-block;
        margin-right:0.5rem;
        color:#e52121;
        vertical-align:middle;
      }
      input[type='text'],input[type='password'],select {
        padding:0 1rem;
        width:100%;
        height:3.5rem;
        border:1px solid #c9cdd3;
        box-sizing:border-box;
        color:#222222;
      }
      input[type='text']:disabled {
        background:#eef3f5;
        color:#bec1c7;
      }
      .refer {
        display: inline-block;
        margin-left: 5px;
        font-size: 1.2rem;
        color: #b7bbc5;
        letter-spacing: -0.005em;
      }
      
      input[type='password'].match {
        border: 1px solid #5fb8a0;
      }
      
      .match + .refer {
        color: #5fb8a0;
      }
      
      input[type='password'].discor {
        position: relative;
        padding-right: 20px;
        border: 1px solid #f6697f;
      }
      
      .discor + .refer {
        color: #f6697f;
      }
    }
    .input__form.col2 {
      width:calc(50% - 0.8rem);
      margin-right:0.6rem;
      display:inline-block;
      vertical-align:top;
    }
    .etc_inp {
      button+input {
        margin-top:0.5rem;
      }
      input+input {
        margin-top:0.5rem;
      }
      .postnum {
        width:12rem !important;
      }
      .search {
        display:inline-block;
        min-width:8rem;
        height:3.5rem;
        line-height:3.5rem;
        font-size:1.3rem;
        background:$primaryColor;
        color:#ffffff;
        text-align:center;
        border-radius:0.4rem;
        vertical-align:middle;
      }
    }
    .input__form {
      width:100%;
      display:inline-block;
      position:relative;
    }
    .input__form input[type='checkbox'],.input__form input[type='radio'] {
      position:absolute;
      width:0.1rem;
      height:0.1rem;
      border:0;
      -webkit-appearance:none;
      clip:rect(0,0,0,0);
    }
    .input__form input[type='checkbox']+label {
      display:inline-block;
      height:3.5rem;
      line-height:3.4rem;
      padding:0 0 0 25px;
      margin-right:1rem;
      font-size:1.2rem;
      background:url(../images/checkbox.png) no-repeat left center;
      cursor:pointer;
    }
    .input__form input[type='checkbox']:checked+label {
      background:url(../images/checkbox_on.png) no-repeat left center;
    }
    .input__form input[type='radio']+label {
      display:inline-block;
      height:4rem;
      line-height:3.9rem;
      padding:0 0 0 25px;
      margin-right:1rem;
      font-size:1.2rem;
      background:url(../images/radio.png) no-repeat left center;      
      cursor:pointer;
    }
    .input__form input[type='radio']:checked+label {
      background:url(../images/radio_on.png) no-repeat left center;
    }
    .input__form input[type='text'],.input__form input[type='password'] {
      height:3.5rem;
      line-height:2.6rem;
      padding:0 0.3rem;
      font-size:1.2rem;
      color:#333333;
    }
    .input__form input[type='text'] {
      width:100%;
    }
    .input__form select {
      width:100%;
      min-width:12rem;
      height:3.5rem;
      margin:0;
      padding:0.5rem 2.5rem 0.6rem 1rem;
      border:1px solid #c9cdd3;
      font-size: 1.2rem;
      color: #8E8E8E;
      font-weight:normal;
      background:url(../images/select_bg.gif) 100% 50% no-repeat;
      background-color:#ffffff;
      -webkit-appearance:none;
      -moz-appearance:none;
      -o-appearance:none;
      appearance:none;
      word-wrap:break-word;
      z-index:10;
    }
    .input__form select::-ms-expand {
      display:none;
    } /* ie 기본 화살표 없앰 */
    .input__form.list {
      background:#ffffff;
      border:0.1rem solid #c9cdd3;
      padding:0px;
      margin-top:1rem;
      height:12rem;
      overflow-y:scroll;
      h5 {
        background:#e7ecf0;
        padding:1rem;
        color:#6e8699;
        font-size:1.5rem;
      }
      ul {
        padding:0 1rem;
        li {
          overflow:hidden;
          width:100%;
          padding:0.5rem 1rem;
          border-bottom:0.1rem solid #eef3f5;
          font-size:1.3rem;
          color:#6e8699;
          dt {
            width:10rem;
            float:left;
            margin-right:1.5rem;
            font-weight:700;
          }
          dd {
            float:left;
            width:calc(100% - 115px);
            line-height:130%;
          }
        }
      }
    }
  }
}

/* 테이블 공통 */
[class^='basic_tbl'] {
  th {
    word-break:keep-all;
  }
  th,td {
    padding:0.5rem 0;
    font-size:1.4rem;
    text-align:left;
    input {
      box-sizing:border-box;
    }
  }
}
// only PC
@mixin pc-large {
  //1921부터 먹는 스타일
  @media screen and (min-width: $desktop + 1) {
    @content;
  }
}

@include pc-large() {
  html {
    font-size:20px;
  }
  body {
    background:#cccccc;
  }
  .menu {
    &__logo {
      padding:2rem 3rem 2rem 1.5rem;
      a {
        display:block;
        width:100%;
        height:100%;
        img {
          width:100%;
          min-width:80px;
        }
      }
    }
  }
}